@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Fresh Finds</h2>

<p>Mauris pharetra sagittis dignissim. In sagittis sodales tortor ut porta. Sed lectus tellus, accumsan eget luctus sed, pharetra et nunc. Nullam id mauris gravida, efficitur elit non, dapibus lectus. Donec malesuada ultricies porta. Proin in consectetur erat, a gravida augue. Etiam pellentesque sollicitudin lacus ut blandit. Vivamus sagittis lacinia facilisis. Sed eget consectetur tortor, ut rhoncus nibh. Vivamus dapibus a leo eget finibus. Etiam at dignissim ex. Ut purus lectus, elementum sed laoreet quis, ultrices sit amet est. Nulla porttitor pulvinar sagittis. Maecenas pharetra augue libero. Vivamus dignissim luctus vehicula.</p>
