@model MVCBlog.Models.Response

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fresh Finds Blog</h1>
   
</div>

<div class="row">
    <div class="col-md-12">
        @foreach (var posts in Model.BlogPosts)
        {
            <h4>
                @posts.Category
            </h4>
            <p>
                @posts.Title
            </p>
        }

    </div>
</div>