@model MVCBlog.Models.Response

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fresh Finds Blog</h1>

</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            @foreach (var post in Model.BlogPosts)
            {
                <div>
                    <tr>
                        <td>
                            @post.Category.CategoryName
                        </td>
                    </tr>
                </div>
                <div>
                    <tr>
                        <td>
                            @post.Title
                        </td>
                    </tr>


                    <tr>
                        <td>
                            @post.Body
                        </td>
                    </tr>
                    <tr>
                       @foreach (var name in post.HashTags)
                       {
                        <td>
                            @name.HashName
                        </td>
                       }
                    </tr>
                </div>
            }
        </table>
    </div>
</div>