@model List<MVCBlog.Models.StaticPage>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            
            @foreach (var page in Model)
            {
                <h3><a href="/StaticPage/ViewStaticPageGet/@page.StaticPageID">@page.Title</a></h3>
            }
        </table>
    </div>
</div>