body {
    padding-bottom: 20px;
    background: #333;
    color: #f0f0f0;
}

.logo {
    padding: 15px 0;
}

.navbar {
    background: #f4f4f4;
}
/*--------------------------------------------------------------------------------------*/
/*.navbar-default {
    background-color: #228b22;
    border-color: #228b22;
}

.navbar-default .navbar-brand {
    color: #fdf5e6;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000000;
}

/* link */
/*.navbar-default .navbar-nav > li > a {
    color: #fdf5e6;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000000;
    background-color: #228b22;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #fdf5e6;
}
/* caret */
/*
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #fdf5e6;
    border-bottom-color: #fdf5e6;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #fdf5e6;
    border-bottom-color: #fdf5e6;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}*/
/* mobile version */
/*
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}*/

/*This changes the Drop-Down list hover!!!!!!!!!!!!!!!*/
/*
.dropdown-menu>li>a:hover {
   color: #262626;
   text-decoration: none;
   background-color: #228b22;
}*/
/*---------------------------------------------------------*/
/*
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fdf5e6;
    }
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #333;
        }
}

.indexheader {
    text-align: center;
    text-transform: uppercase;
    color: #165e14;
    font-weight: 700;
     border-image: url(border.png) 30 stretch;
}*/




/*--------------------------------Carousel----------------------------------------------------------------------*/
#myCarousel {
    margin-bottom: 20px;
}

    #myCarousel .carousel-caption {
        left: 0;
        right: 0;
        bottom: 0;
        text-align: left;
        padding: 10px;
        background: rgba(0, 0, 0, 0.6);
        text-shadow: none;
    }

        #myCarousel .carousel-caption h4 {
            color: #fff;
        }

        #myCarousel .carousel-caption p {
            padding: 0;
            margin: 0;
        }

    #myCarousel .list-group {
        position: absolute;
        top: 0;
        right: 0;
    }

    #myCarousel .list-group-item {
        border-radius: 0;
        cursor: pointer;
    }

    #myCarousel .list-group .active {
        background: #eee;
        border: 0;
        color: #666;
    }

    #myCarousel .list-group h4 {
        font-size: 17px;
        padding: 0 !important;
        margin: 0 !important;
        padding-top: 5px;
    }

    #myCarousel .img-slide {
        width: 100px;
        height: 100%;
        float: left;
        margin-right: 5px;
    }

.post-info {
    background: #333;
    color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
}

@media(min-width: 992px) {
    #myCarousel {
        padding-right: 33.3333%;
    }

        #myCarousel .carousel-controls {
            display: none;
        }
}

@media(max-width: 991px) {
    .carousel-caption p,
    #myCarousel .list-group {
        display: none;
    }
}

@media(max-width: 1200px) {
    .slider-list p {
        display: none;
    }
}
